#shopping_list {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding: 20px;

    background-color: rgb(176, 219, 219);
}

div {
    
    font-family: monospace;

    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    
}

.checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

header {
    font-size: x-large;
}

.list, .create_list_item{

    background-color: papayawhip;
    display: inline-block
}

.list_item {

    display: flex;
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

button {

    font-family: monospace;

    margin-top: 10px;
    margin-bottom: 5px;
    background-color: whitesmoke;
    padding: 5px;

    border-radius: 10px;

}

input {

    font-family: monospace;
    background-color: antiquewhite;
    padding: 5px; 
    margin: 3px;
}